svg path {
    stroke:inherit;
    stroke-width:inherit;
    fill:inherit;
}

.header-top, .header-middle, .header-bottom {
	font-size: 14px;
 	font-weight: bold;
}

.header-top {
	display: flex;
	justify-content: center;	

}



.header-top__navigation {
	justify-content: center;
	display: flex;
	align-items: center;
	height: 65px;
	width: 1260px;
 	background: linear-gradient(270deg, rgba(236, 236, 236, 0.4) 12.33%, rgba(255, 255, 255, 0.4) 97.88%), #E5E5E5;
 	border-bottom: 1px solid #ABA5A5;
}

.header-top__header-menu, .header-bottom__catalog-list  {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;

}

.header-top__header-menu{
	margin-left: 10px;
}

.header-top__header-menu-item {
 padding-right: 40px;
}

.header-top__header-menu-link:visited, .header-top__header-menu-link, .header-top__header-link:visited, .header-middle__phone, .header-middle__phone:visited {
	color: black;
}

.header-top__header-menu-link:hover, .header-top__header-link:hover, .header-top__header-menu-link:hover, .header-middle__phone:hover  {
	color: #FF8A00;
	fill:  #FF8A00;
}


.header-top__header-menu-link::before, .icon-login::before  {
	margin-right: 5px;	
}

.header-top__menu-text, .header-middle__phone-text{
	vertical-align: top;
}


.header-top__header-login {
	margin-left:auto;
	margin-right: 10px;
}



.header-top__header-link {
	color: black;}

.header-middle__wrap {
	display: flex;
	justify-content: center;
}

.header-middle {
	display: flex;
	align-items: center;	
	height: 170px;
	width: 1260px;
	justify-content: space-between;
}


.header-middle__left {
}

.header-middle__right {

}

.header-middle__search {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) -20.21%, rgba(255, 255, 255, 0) 56.38%), #FF8A00;
	height: 50px;
	display: flex;
  	align-items: center;
  	width: 470px;
}

.header-middle__search-input {
	height: 40px;
	margin-left: 5px;
	padding-left: 2px;
	width: 380px;
	border: none;
}

.header-middle__search-button {
    background: none; 
    border: none;
    color: white;
    text-align: center;
    height: 50px;
    width: 85px;
    cursor: pointer;
    font-weight: normal;
}

.header-middle__search-button:hover {
    color: #8A5A5A;
}


.header-middle__right {
	height: 80px;
	width: 180px;
	padding-left: 10px;
	padding-top: 10px;
	box-sizing: border-box;
	border: 1px solid #C4C4C4;
	background: linear-gradient(180deg, #FFFFFF 23.35%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-middle__basket-header {
	text-transform: uppercase;
	font-size: 18px;
}


.header-middle__basket {
 color: black;
 line-height: 20px;
}

.header-middle__basket:hover {
 	color: #FF8A00;
	fill:  #FF8A00;
}

.header-middle__basket-subhead {
	font-size: 14px;

}

.header-middle__basket-value {
	font-size: 14px;
	color: #FF8A00;
}
.header-bottom {
	align-items: center;	
}

.header-bottom__catalog-list {
	justify-content:center;
}

.header-bottom__catalog-item {
	border: 1px solid #C4C4C4;
	display: flex;
	white-space: pre ;
	align-items: center;
  	justify-content: center;
	height: 50px;
	width: 250px;
	text-align: center;
	background: linear-gradient(180deg, #FFFFFF 23.35%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	fill: #FF8A00;
	cursor: pointer;
}

.header-bottom__catalog-item:hover  {
	color: #8A5A5A;
}


